.background-anime{
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/disp/9660bc21340091.562ff8a21e3b9.jpg') ;
    height:75vh;
    opacity: .95;
}


.genius-home{
    text-shadow: -4px -3px rgba(0, 0, 0, 0.098);

    display: flex;
        font-family: 'Krungthep';
        font-size: 130px;
        margin-top:0px;
        padding-top: 100px;
        width: 100%;
        justify-content: center;
        background: linear-gradient(
            60deg,
            hsl(0, 75%, 50%) 10%,
            hsl(20, 75%, 50%) 10%,
            hsl(20, 75%, 50%) 25%,
            hsl(50, 75%, 50%) 25%,
            hsl(50, 75%, 50%) 40%,
            hsl(130, 75%, 50%) 40%,
            hsl(130, 75%, 50%) 55%,
            hsl(200, 75%, 50%) 55%,
            hsl(200, 75%, 50%) 70%,
            hsl(260, 75%, 50%) 70%,
            hsl(260, 75%, 50%) 85%,
            hsl(0, 75%, 50%) 85%
        );
    
        color: #fff;
        -webkit-background-clip: text;
           -webkit-text-fill-color: transparent;
           animation: 6s Game linear infinite,
           60s Genius ease;
    }
    
    
    body{
        overflow: scroll;
    }
    
    
    @keyframes Game {
        100% { background-position: 100vw 0px; }
    }
    @keyframes Genius {
        100% { transform: scale(1.1);}
    }
    

    
